/* impostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(59, 59, 59);
}

.container-fluid {
    padding: 0;
}

.visible {
    display: block;
}
.notVisible {
    display: none;
}

/* impostazioni header */
header {
    height: 80px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* impostazioni main */
main {
   width: 80%; 
   margin: 0 auto;
}

.row {
    height: 100%;
}

.card {
    height: 600px;
    border: 1px solid black;
    float: left;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card .poster {
    padding: 20px;
    width: 100%;
}

.fa-star.active {
    color: gold;
}