<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>Boolflix</title>
</head>
<body>
    <div class="container-fluid" id="root">
        <header>
            <img src="img/boolflix.png" id="logo">
            <div class="header_inputs">
                <input type="text" name="search" id="search" v-model="keyWord" @keyup.enter="sendData">
                <button @click="sendData" id="search_btn"><i class="fas fa-search"></i></button>    
            </div>
        </header>

        <div class="background">
            <img :src="background" id="background" :class="background == '' ? 'notVisible' : null">
        </div>

        <main>

            <h1>{{titleFilm}}</h1>
            <div class="row film">
                <!-- card film -->
                <div class="my_card col-xl-3 col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch" v-for="film in filmListMod">
                    <div class="my_card_content">
                        <div class="my_card_image">
                            <img :src=" 'https://image.tmdb.org/t/p/w342' + film.poster_path" class="poster">
                        </div>
                        <div class="my_card_text">
                            <div>Titolo: {{film.title}} </div> 
                            <div>Titolo originale: {{film.original_title}} </div>  
                            <div>
                                Lingua originale: {{film.original_language}} 
                                <div class="flag"> 
                                    <img :src="getFlag(film.original_language)">
                                </div>
                            </div> 
                            <div>Voto critica: {{parseInt(film.vote_average * 5/10)}}</div> <!--trasformo i voti in valori da 1 a 5-->
                            <div> <!--cambio le stelline in base al valore del voto-->
                                <i class="fas fa-star" :class=" parseInt(film.vote_average* 5/10) > 0 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(film.vote_average* 5/10) > 1 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(film.vote_average* 5/10) > 2 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(film.vote_average* 5/10) > 3 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(film.vote_average* 5/10) > 4 ? 'active' : null"></i>
                            </div> 
                        </div>  
                    </div>   
                </div>
            </div>

            <h1>{{titleSerie}}</h1>
            <div class="row serie">
                <!-- card serie tv -->
                <div class="my_card col-xl-3 col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch" v-for="serie in serieListMod"> 
                    <div class="my_card_content">
                        <img :src=" 'https://image.tmdb.org/t/p/w342' + serie.poster_path" class="poster">
                        <div class="my_card_text">
                            <div>Titolo: {{serie.name}}</div> 
                            <div>Titolo originale: {{serie.original_name}}</div>  
                            <div>
                                Lingua originale: {{serie.original_language}} 
                                <div class="flag"> 
                                    <img :src="getFlag(serie.original_language)"> 
                                </div>
                            </div> 
                            <div>Voto critica: {{parseInt(serie.vote_average * 5/10)}}</div>
                            <div>
                                <i class="fas fa-star" :class=" parseInt(serie.vote_average* 5/10) > 0 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(serie.vote_average* 5/10) > 1 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(serie.vote_average* 5/10) > 2 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(serie.vote_average* 5/10) > 3 ? 'active' : null"></i>
                                <i class="fas fa-star" :class=" parseInt(serie.vote_average* 5/10) > 4 ? 'active' : null"></i>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>